<section>
    <app-header-layout (scrollTo)="scrollToSection($event)"></app-header-layout>
</section>
<section class="vector1-bg">
    <figure>
        <img src="assets/vectors/Vector1.png" alt="Vector-Terrain1" id="vector-terrain-one">
    </figure>
</section>
<section class="about-me-page">
    <div class="introduction" [class.scrolled]="isScrolled">
        <p id="intro">
            <span *ngFor="let letter of getLetters(firstParagraph)" class="flip-letter">{{ letter }}</span>
        </p>
        <p id="intro">
            <span *ngFor="let letter of getLetters(secondParagraph)" class="flip-letter">{{ letter }}</span>
        </p>
        <p id="intro">
            <span *ngFor="let letter of getLetters(thirdParagraph)" class="flip-letter">{{ letter }}</span>
        </p>
        <div class="position">
            <p>Web & Automation Developer</p>
        </div>
    </div>
    <figure [class.scrolled]="isScrolled">
        <img [src]="currentAvatar" [id]="currentAvatarId">
    </figure>
    <div class="about-me" [class.scrolled]="isScrolled">
        <p id="title">ABOUT ME</p>
        <div class="typewritter-content" [class.isHidden]="!isTyping">
            <p class="typewriter-animation" [class.first] = "isTyping">I am a self-taught programmer with hands-on experience in web</p>
            <p class="typewriter-animation" [class.second] = "isTyping">and automation development. At 24 years old, I currently reside in</p>
            <p class="typewriter-animation" [class.third] = "isTyping">Batangas and hold a bachelor's degree in Computer Engineering.</p>
            <p class="typewriter-animation" [class.fourth] = "isTyping">I'm passionate about building efficient, user-friendly solutions and
            <p class="typewriter-animation" [class.fifth] = "isTyping">continuously expanding my skills in technology and software</p>
            <div class="isblinking">
                <p class="typewriter-animation"
                   [class.sixth] = "isTyping"
                   (animationend)="onAnimationEnd($event)">development.</p>
            </div>
        </div>
        <div class="button-section">
            <div class="button-container">
                <button 
                    *ngIf="!loading" 
                    class="load-btn"
                    (click)="startLoading()">DOWNLOAD CV
                </button>
                <div *ngIf="loading" class="progress-wrapper">
                    <div class="progress-container"
                        [class.circle]="isCircle"
                        [class.complete]="isComplete"
                        [class.returning]="isReturning">
                    <div *ngIf="!isCircle" 
                        class="progress-bar" 
                        [style.width.%]="progress">
                    </div>
                    <div *ngIf="isCircle && isComplete" class="checkmark"><span class="material-symbols-outlined isCheck">check</span></div>
                    </div>
                </div>
                </div>
            <button id="contact-button">CONTACT ME</button>
        </div>
    </div>
</section>

<div class="portfolio-container">
    <h1 [ngClass]="{'show': showPortfolio}" class="portfolio-title">
        MY PORTFOLIO
    </h1>
</div>
