<section>
    <app-header-layout></app-header-layout>
</section>
<section class="about-me-page">
    <div class="introduction">
        <p id="intro">hello</p>
        <p id="intro">i'm</p>
        <p id="intro">kristian</p>
        <div class="position">
            <p>Web & Automation Developer</p>
        </div>
    </div>
    <figure>
        <img src="assets/about-page/Avatar.png" alt="Avatar" id="Avatar">
    </figure>
    <div class="about-me">
        <p>ABOUT ME</p>
        <p>Description about me...</p>
    </div>
</section>
