@keyframes afloat {
  0%, 100% {
    transform: scaleX(-1) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-2px);
  }
}

@keyframes typewriter {
    from { 
        width: 0; 
    }
    to { 
        width: 100%; 
    }
}

@keyframes deleting {
    from { 
        width: 100%; 
    }
    to { 
        width: 0; 
    }
}

@keyframes blinkingCursor {
    0%, 100% { 
        border-right-color: transparent; 
    }
    50% { 
        border-right-color: #000000; 
    }
}

@keyframes pump {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* adjust the scale for stronger or weaker pump */
    }
}

@keyframes popIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.about-me-page {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    z-index: 1;
}

#Avatar1 {
    padding-top: 10vh;
    width: 21.5vw;
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
#Avatar2 {
    padding-top: 10vh;
    width: 21.5vw;
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

#Avatar3 {
    padding-top: 22.7vh;
    width: 18vw;
    padding-left: 53px;
    transform: scaleX(-1);   
    filter: drop-shadow(0 2px #FFFFFF);
}

#Avatar4 {
    padding-top: 19.2vh;
    width: 21.5vw;
    transform: scaleX(-1);
    filter: drop-shadow(2px #FFFFFF);
}

.introduction {
    width: 40%;
    display: flex;
    flex-direction: column;  
    padding-top: 55px;
    align-items: end;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: default;
}

.introduction.scrolled {
    transform: translateX(-200px);
    opacity: 0;
}

#intro{
    font-size: 8vw;
    text-shadow: 1px 1px 2px #000000;
}

.flip-letter {
    display: inline-block;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flip-letter:hover {
    transform: rotateY(180deg);
    color: #66FCF1;   
}

.position {
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 15px;             
    width: 70%;
}

.position p {
    font-style: italic;
    font-weight: 500;
}

.position::after {
    content: "";
    flex: 1;
    height: 5px;     
    background-color: #000; 
    opacity: 0.8;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    padding-top: 70px;
    padding-right: 20px;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.about-me.scrolled {
    transform: translateX(200px);
    opacity: 0;
}

#title {
    font-size: 65px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000000;
    cursor: default;
}

.isHidden {
  visibility: hidden;
}


.typewriter-animation {
    position: relative;
    width: auto;       
    margin: 0;
    border-right: 2px solid #000000;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.first {    
    animation: 
        typewriter 5s steps(50) 1s 1 normal both,
        blinkingCursor 500ms steps(50) 1s 10 normal both,
        deleting 1s steps(50) forwards 40s;
}

.second {
    animation: 
        typewriter 5s steps(50) 6s 1 normal both,
        blinkingCursor 500ms steps(50) 6s 10 normal both,
        deleting 1s steps(50) forwards 39s;
}

.third {
    animation: 
        typewriter 5s steps(50) 11s 1 normal both,
        blinkingCursor 500ms steps(50) 11s 10 normal both,
        deleting 1s steps(50) forwards 38s;
}

.fourth {
    animation: 
        typewriter 5s steps(50) 16s 1 normal both,
        blinkingCursor 500ms steps(50) 16s 10 normal both,
        deleting 1s steps(50) forwards 37s;
}

.fifth {
    animation: 
        typewriter 5s steps(50) 21s 1 normal both,
        blinkingCursor 500ms steps(50) 21s 10 normal both,
        deleting 1s steps(50) forwards 36s;
}

.sixth {
    animation: 
        typewriter 1s steps(12) 26s 1 normal both,
        blinkingCursor 500ms steps(50) 26s 18 normal both,
        deleting 0.5s steps(12) forwards 35s;
}

.isblinking {
    width: 20%;
}

.button-section {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    gap: 10px;
    height: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 65px;
    overflow: hidden;
}

.load-btn {
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.load-btn:hover {
    transform: scale(1.1);
    font-weight: 700;
    color: #66FCF1; 
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    position: relative;
    width: 145px;
    height: 15px;
    background-color: #DADADA;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.6s ease;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    background-color: #2A2A2A;
    width: 0;
    transform: translateX(-50%);
    transition: width 0.2s ease;
}

.progress-container.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    overflow: hidden;
}

.progress-container.returning {
    width: 120px;
    padding: 14px;
    border-radius: 5px;
    background-color: #2a2a2a;
    transition: all 0.8s ease;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    opacity: 0;
    transform: scale(0);
    animation: popIn 0.4s forwards ease;
    animation-delay: 0.3s;
}

#contact-button{
    border: none;
    background-color: #2a2a2a;
    color: #FFFFFF;
    padding: 13px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    animation: pump 1s infinite;
}

#contact-button:hover {
    color: #66FCF1; 
    font-weight: 700;
}

.vector1-bg {
    width: 100%;
    position: absolute;
    top: 606px;
}

#vector-terrain-one{
    width: 99vw;
    z-index: -1;
    filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.5));
}

.portfolio-title {
  position: absolute;
  top: 50%;           
  left: 50%;                
  transform: translate(-50%, -50%) scale(0.3);
  font-size: 20px;
  opacity: 0;
  color: #2a2a2a;
  z-index: 0;            
  pointer-events: none;
  transition: all 0.8s ease-out;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 1px 1px 2px black;
}

.portfolio-title.show {
    opacity: 1;
    font-size: 80px;
    transform: translate(-50%, -50%) scale(2.8,3.3);
    padding-top: 80px;
    font-weight: 900;
}
